<%= render 'shared/header' %>
<section class="h-100">
	<div class="row">
    <div class="col-lg-12 text-right">
      <div class="logo_container">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column my-text">
        <h1 class="text align-self-center p-2">Hello George!</h1>
        <h4 class="text align-self-center p-2">User login is implemented and authenticated as well. Please check.</h4>
        <h4 class="text align-self-center p-2">Have a good day.</h4>
      </div>
    </div>
  </header>
</section>